html{
height: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
}

#LoginTitle {
  font-family: sans-serif
}

.form{
  margin: auto;
  max-width: 1000px;
  padding: 10px;
  background-position: center;
}

div.logo {
position: absolute;
bottom: 5px;
left: 69px;
}

body {
min-height: 100vh;
color: white;
background: linear-gradient(#636FA4,#E8CBC0);
display: flex;
flex-direction: column;
}

#titleLogo:hover {
color: gold;
}

header h1 a{
  text-decoration: none;
  color: white;
}

header h1 a:hover {
  color: gold
}
#titleLogo {
margin-left: 20px;
font-family: sans-serif;
font-weight: 700;
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
}

header {
position: absolute;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}


footer {
padding: 0px 0px 70px 0px;
background-color: rgb(12, 12, 12);
clear: both;
text-align: center;
margin-top: auto;
height: 10px;
}

p.FooterText {
font-size: 1.3em;
margin: 0;
padding: 0;
text-align: center;
transform: translateY(150%);
}

header ul {
display: flex;
justify-content: center;
align-items: center;
}

header ul li {
list-style: none;
margin-left: 20px;
font-family: sans-serif;
font-weight: 700;
}

header ul li a.navbar {
padding: 6px 14px;
color: white;
border-radius: 10px;
margin: 10px;
}

header ul li a.navbar:hover {
background: #fff;
color: darkblue;
}

a{
color: aliceblue;
text-decoration: none;
}

a:hover {
color:cornflowerblue;
}

header {
  border-bottom: white 1px solid;
}

.form {
  border: 1px solid black;
  width: 185px;
  margin: auto;
  margin-top: 200px;
  padding: 10px;
  border-radius: 1%;
  background-color: white;
}

input[type=text], input[type=password] {
  display: block;
  padding: 10px;
  margin: 5px;
  font-family: monospace;
  border: 0.2px solid black;
}



input[type=submit] {
  font-family: monospace;
  border: 1px solid black;
  padding: 3px;
  margin-left: 6px;
  margin-top: 10px;
}

input[type=submit]:hover {
  background-color: white;
}

.incorrect {
  color: red;
  text-align: center;
  width: 100px;
  margin: auto;
  margin-top: 10px;
  transition: 5s;
}



/* 
